{% extends "online_shop_app/layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'register' %}">Don't have an account? Register</a>
    </div>
{% endblock %}
